body {
    background-color: rgb(42, 39, 39);
    color: aliceblue;
}

nav h1 {
    background-color: rgb(26, 144, 104);
    text-align: center;
}

nav p {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.ftr {
    background-color: rgb(84, 106, 114);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.ftr p {
    font-weight: bold;
}